body {
            background-color: bisque;
        }
        h1 {
            color: white;
            text-align: center;
        }
        p {
            font-family: Verdana;
            font-size: 20px;
        }