body {
            background-color: rgb(195, 123, 34);
        }
        h1 {
            color: rgb(238, 188, 188);
            text-align: center;
        }
        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 33px;
            font-weight: 333;
        }